[submodule "sagemaker-tensorflow-container"]
	path = sagemaker-deepracer-container/sagemaker-tensorflow-container
	url = https://github.com/aws/sagemaker-tensorflow-container.git
	ignore = dirty
[submodule "amazon-sagemaker-examples"]
	path = dependencies/amazon-sagemaker-examples
	url = https://github.com/larsll/amazon-sagemaker-examples.git
	ignore = dirty
[submodule "dependencies/sagemaker-python-sdk"]
	path = dependencies/sagemaker-python-sdk
	url = https://github.com/aws/sagemaker-python-sdk
