<?xml version="1.0"?>
<launch>
    <param name="WORLD_NAME" value="$(env WORLD_NAME)" />
    <param name="SAGEMAKER_SHARED_S3_BUCKET" value="$(env SAGEMAKER_SHARED_S3_BUCKET)" />
    <param name="SAGEMAKER_SHARED_S3_PREFIX" value="$(env SAGEMAKER_SHARED_S3_PREFIX)" />
    <param name="TRAINING_JOB_ARN" value="$(env TRAINING_JOB_ARN)" />
    <param name="METRIC_NAME" value="$(env METRIC_NAME)" />
    <param name="METRIC_NAMESPACE" value="$(env METRIC_NAMESPACE)" />
    <param name="METRICS_S3_BUCKET" value="$(env METRICS_S3_BUCKET)" />
    <param name="METRICS_S3_OBJECT_KEY" value="$(env METRICS_S3_OBJECT_KEY)" />
    <param name="AWS_REGION" value="$(env APP_REGION)" />
    <param name="TARGET_REWARD_SCORE" value="$(env TARGET_REWARD_SCORE)" />
    <param name="NUMBER_OF_EPISODES" value="$(env NUMBER_OF_EPISODES)" />
    <param name="ROBOMAKER_SIMULATION_JOB_ACCOUNT_ID" value="$(env ROBOMAKER_SIMULATION_JOB_ACCOUNT_ID)" type="str" />
    <param name="AWS_ROBOMAKER_SIMULATION_JOB_ID" value="$(env AWS_ROBOMAKER_SIMULATION_JOB_ID)" />
    <param name="JOB_TYPE" value="TRAINING" />
    <param name="CHANGE_START_POSITION" value="$(optenv CHANGE_START_POSITION true)" type="bool" />
    <param name="ALTERNATE_DRIVING_DIRECTION" value="$(optenv ALTERNATE_DRIVING_DIRECTION false)" type="bool" />

    <include file="$(find deepracer_simulation)/launch/racetrack_with_racecar.launch">
        <arg name="world_name" value="$(env WORLD_NAME)" />
    </include>

    <node name="agent" pkg="deepracer_simulation" type="run_rollout_rl_agent.sh" output="screen" required="true"/>
</launch>
