<?xml version="1.0"?>
<launch>
    <param name="WORLD_NAME" value="$(env WORLD_NAME)" />
    <param name="MODEL_S3_BUCKET" value="$(env MODEL_S3_BUCKET)" />
    <param name="MODEL_S3_PREFIX" value="$(env MODEL_S3_PREFIX)" />
    <param name="TRAINING_JOB_ARN" value="$(env TRAINING_JOB_ARN)" />
    <param name="METRIC_NAME" value="$(env METRIC_NAME)" />
    <param name="METRIC_NAMESPACE" value="$(env METRIC_NAMESPACE)" />
    <param name="AWS_REGION" value="$(env APP_REGION)" />

    <param name="JOB_TYPE" value="TRAINING" />

    <include file="$(find deepracer_simulation)/launch/racetrack_with_racecar.launch">
        <arg name="world_name" value="$(env WORLD_NAME)" />
    </include>

    <node name="agent" pkg="deepracer_simulation" type="run_local_rl_agent.sh" output="screen" required="true"/>
</launch>
